<p></p>
<div class="container" role="main">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{title}}</h3>
    </div>
    <div class="card-body">
      <form #gameForm="ngForm">
        <div class="form-group">
          <label for="gameLevel">Game Level: <span class="badge badge-info"
                                                   id="gameLevel">{{game.gameLevel}}</span></label>
        </div>
        <div class="form-group">
          <label for="tries">Tries: <span class="badge badge-info" id="tries">{{game.tries}}</span></label>
        </div>
        <div class="form-group">
          <label for="counter">Counter:</label>
          <progressbar id="counter" [value]="game.counter" max="100"></progressbar>
        </div>
        <div class="form-group">
          <label for="guess">Guess:</label>
          <input id="guess"
                 class="form-control"
                 name="guess"
                 required
                 range
                 distinct="true"
                 [digits]="game.gameLevel"
                 [(ngModel)]="game.guess"
                 #guess="ngModel"
                 type="number"/>
          <div class="alert alert-danger" *ngIf="guess.invalid && (guess.dirty || guess.touched)">
            <div *ngIf="guess.errors.required">Guess is required!</div>
            <div *ngIf="guess.errors.distinct">Digits are not unique!</div>
            <div *ngIf="guess.errors.digits">Digits are different than game level {{game.gameLevel}}!</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="gameForm.invalid" class="btn btn-success" (click)="play()">Play</button>
        </div>
      </form>
    </div>
  </div>
  <p></p>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Moves</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th>No</th>
          <th>Guess</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let move of game.moves; let i = index">
          <td>{{i + 1}}</td>
          <td>{{move.guess}}</td>
          <td>
            <move [value]="move"></move>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p></p>


</div>

<router-outlet></router-outlet>
