<p></p>
<div class="container" role="main">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{title}}</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="gameLevel">Game Level: <span class="badge badge-info" id="gameLevel">{{game.gameLevel}}</span></label>
      </div>
      <div class="form-group">
        <label for="tries">Tries: <span class="badge badge-info" id="tries">{{game.tries}}</span></label>
      </div>
      <div class="form-group">
        <label for="counter">Counter: <span class="badge badge-info" id="counter">{{game.counter}}</span></label>
      </div>
      <div class="form-group">
        <label for="guess">Guess:</label>
        <input class="form-control" [(ngModel)]="game.guess" type="number" id="guess"/>
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="play()">Play</button>
      </div>
    </div>
  </div>
  <p></p>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Moves</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th>No</th>
          <th>Guess</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let move of game.moves; let i = index">
          <td>{{i+1}}</td>
          <td>{{move.guess}}</td>
          <td><move [value]="move"></move></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p></p>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Game Statistics</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="wins">Wins:  <span class="badge badge-success" id="wins">{{statistics.wins}}</span> of <span class="badge badge-info">{{statistics.total}}</span></label>
      </div>
      <div class="form-group">
        <label for="wins">Loses:  <span class="badge badge-danger" id="loses">{{statistics.loses}}</span> of <span class="badge badge-info">{{statistics.total}}</span></label>
      </div>
      <div class="form-group">
        <label for="averageMove">Average # of Moves:  <span class="badge badge-success" id="averageMove">{{statistics.averageMove}}</span></label>
      </div>
      <div class="form-group">
        <label for="averageWinTime">Average Win Time:  <span class="badge badge-danger" id="averageWinTime">{{statistics.averageWinTime}}</span> sec.</label>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
